<h1 style="text-align: center">ユーザー編集</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="bg-light">
    <div class="px-2 py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card h-100">
              <div class="card-body">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, class: "form-control my-2" %>
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control my-2" %>
                <%= f.label :introduction %>
                <%= f.text_area :introduction, autofocus: true, class: "form-control my-2", rows: 14 %>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card h-100">
              <div class="card-body position-relative">
                <div style="text-align: center"><%= f.label :icon %></div>
                <div id="img_field" onClick="$('#file').click()" class="mx-auto" style="text-align: center" >
                  <% if current_user.icon.url.present? %>
                    <%= image_tag(current_user.icon.url(:midium)) %>
                  <% else %>
                  <i class="fas fa-user"></i><i class="fas fa-file-upload add"></i>
                  <% end %>
                </div>
                <%= f.file_field :icon, class: "image", style: "display:none;", id: "file"%>
                <%= f.label :password %><i>(変える必要がなければとばしてください)</i>
                <%= f.password_field :password, autocomplete: "new-password" , class: "form-control my-2"%>
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control my-2" %>
                <div class="mx-auto" style="text-align: center" >
                  <%= f.submit nil, class: "video-submit-btn btn btn-primary w-50" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br>
<div class="float-right">
  <%= link_to registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, style: "color: red" do %>
  <i class="fas fa-user-minus"> アカウントを削除する</i>
  <% end %>
</div>

<div class="mx-auto" style="width: 350px; text-align: center">
  <%= link_to '戻る', :back, class: "btn btn-outline-dark btn-sm w-50 mt-2" %>
</div>
