<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <br><i class = "circle"><%= comment.user.icon.url.present? ? image_tag(comment.user.icon.url) : image_tag('default_icon.jpg') %></i>
    <%= link_to "#{comment.user.name}", user_path(comment.user.id) %>
    <p class = "balloon1-left"><%= comment.content %>
      <% if comment.user == current_user %>
        <%= link_to edit_video_comment_path(comment.video_id, comment.id), method: :get, class:"btn text-success btn-sm my-2" do %>
          <i class="fas fa-edit"> 編集</i>
        <% end %>
        <%= link_to '削除', video_comment_path(comment.video_id, comment.id), method: :delete, remote: true, class:"btn text-danger btn-sm my-2" %>
      <% end %>
    </p>
  <% end %>
<% end %>