<div class="container">
  <div class="show-wrapper">
    <% if @like_videos.present? %>
      <h1 class="mb-5">お気に入り動画</h1>
        <table class="table table-hover">
          <% unless @like_videos.first == nil %>
            <% @like_videos.each do |like_video| %>
            <tr>
              <td>タイトル</td>
              <td><%= like_video.title %></td>
            </tr>
            <tr>
              <td>投稿者</td>
              <td><%= like_video.user.name %></td>
            </tr>
            <tr>
              <td>動画</td>
              <td><iframe width="560" height="315" src=<%= embed_url(like_video) %> ></iframe></td>
            </tr>
            <% end %>
          <% end %>
        <table class="table table-hover">
    <% elsif @post_videos.present? %>
      <h1 class="mb-5">投稿動画</h1>
          <table class="table table-hover">
            <% unless @post_videos.first == nil %>
              <% @post_videos.each do |post_video| %>
              <tr>
                <td>タイトル</td>
                <td><%= post_video.title %></td>
              </tr>
              <tr>
                <td>投稿者</td>
                <td><%= post_video.user.name %></td>
              </tr>
              <tr>
                <td>動画</td>
                <td><iframe width="560" height="315" src=<%= embed_url(post_video) %> ></iframe></td>
              </tr>
              <% end %>
            <% end %>
          </table>
    <% else %>
        <p>表示できる動画はありません</p>
    <% end %>
  </div>
</div>
<%= link_to "戻る", user_path, class: "btn btn-light" %>
