<div class="user_list_box">
  <% @followers.each do |user| %>
    <%= link_to user_path(user.id, type: "post") do %>
      <div class="card mb-3" style="height: 150px">
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3">
            <i><%= user.icon.url.present? ? image_tag(user.icon.url(:small)) : image_tag('default_icon.jpg',size:"150x150") %></i>
          </div>
            <div class="col-9 col-sm-9 col-md-9 col-lg-9 mt-2 user_list_content mt-2">
              <b ><%= user.name %></b><br><br>
              <p class="omit_text"><%= user.introduction %></p>
              <table class="count_table">
              <tr>
                <td>投稿 </td>
                <td> フォロー</td>
                <td>フォロワー</td>
              <tr style="text-align: center">
                <td><%= user.videos.count %></td>
                <td><%= user.following.count %></td>
                <td><%= user.followers.count %></td>
              </tr>
              </table>
              <div class="user_btn">
              </div>
              <%= render 'follow_form', user: user %>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>