<div class="row user_video">
  <% unless @like_videos.first == nil %>
    <% @like_videos.each do |like_video| %>
      <div class="card mb-3 pt-3 col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="video-wrap">
          <iframe width="350" height="200" src=<%= embed_url(like_video) %> allowfullscreen></iframe><hr>
        </div>
        <p><%= like_video.title %></p><hr>
        <p>投稿者: <i class = "circle"><%= like_video.user.icon.url.present? ? image_tag(like_video.user.icon.url) : image_tag('default_icon.jpg') %></i> <%= like_video.user.name %></p>
        <div class="nav_btn">
          <ul style="padding-inline-start: 0px">
            <li>
              <i class="far fa-heart"></i> <%= like_video.likes_count %>
            </li>
            <li>
              <i class="fas fa-comment comment"></i> <%= like_video.comments.count %>
            </li>
            <li class="float-right">
              <%= "#{like_video.created_at}に投稿"%></span>
            </li>
          </ul>
        </div>
        <p>
          <% like_video.genres.each do |genre| %>
            <%= link_to genre.name, videos_path(genre_id: genre.id), class: "badge badge-light py-1 px-2 category-badge" %>
          <% end %>
        </p>
        <p>
          <%= render 'videos/tag_list', tag_list: like_video.tag_list %>
        </p>
        <div class="nav_btn">
          <ul class="float-right">
            <li>
              <%= link_to video_path(like_video.id) ,class: "btn text-primary btn-sm" do %>
                <i class="fas fa-arrow-circle-right"></i> 詳細</i>
              <% end %>
            </li>
            <% if current_user.try(:id) == like_video.user_id %>
              <li>
                <%= link_to edit_video_path(like_video.id), method: :get, class: "btn text-success btn-sm" do %>
                  <i class="fas fa-edit"> 編集</i>
                <% end %>
              </li>
              <li>
                <%= link_to video_path(like_video.id), method: :delete,data: { confirm: '本当に削除していいですか？'}, class: "btn text-danger btn-sm" do %>
                  <i class="fas fa-trash-alt"> 削除</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
</div>