<div class="col-12 col-sm-12 col-md-12 col-lg-3">
    <div class="card mb-3">
      <i class="mt-2" style="text-align: center"><%= @user.icon.url.present? ? image_tag(@user.icon.url(:midium)) : image_tag('default_icon.jpg', size: '200x200', class: "img-responsive")%></i>
      <div class="card-body">
        <h3 style="text-align: center"><%= @user.name %></h3>
        <table class="mx-auto" style="width: 200px; text-align: center">
          <tr>
            <td>投稿 </td>
            <td> フォロー</td>
            <td>フォロワー</td>
          <tr style="text-align: center">
            <td><%= @user.videos.count %></td>
            <td><%= @user.following.count %></td>
            <td><%= @user.followers.count %></td>
          </tr>
        </table>
        <hr>
        <b><%= @user.introduction %></b><br>
        <%if current_user.try(:id) == @user.id %>
          <%= link_to edit_user_registration_path, class: "btn btn-success btn-sm float-right" do %>
            <i class="fas fa-edit"> 編集</i>
          <% end %>
        <% end %>
      </div>
    </div>
</div>