<div class="col-3">
    <div class="card mb-3">
      <i class="mt-2" style="text-align: center"><%= @user.icon.url.present? ? image_tag(@user.icon.url(:midium)) : image_tag('default_icon.jpg', size: '200x200') %></i>
      <div class="card-body">
        <h3><%= @user.name %></h3>
        <table>
          <tr>
            <td>投稿 </td>
            <td> フォロー</td>
            <td>フォロワー</td>
          <tr>
            <td><%= @user.videos.count %></td>
            <td><%= @user.following.count %></td>
            <td><%= @user.followers.count %></td>
          </tr>
        </table>
        <hr>
        <b><%= @user.introduction %></b><br>
        <%if current_user.try(:id) == @user.id %>
          <%= link_to "編集", edit_user_registration_path, class: "btn btn-success btn-sm float-right" %>
        <% end %>
      </div>
    </div>
</div>