<div class="bg-light mt-5">
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-3">
            <div class="card mb-3">
              <i class="mt-2" style="text-align: center"><%= image_tag @user.icon.url(:midium) unless @user.icon.url.nil?%></i>
              <div class="card-body">
                <h3><%= @user.name %></h3>
                <table>
                  <tr>
                    <td>投稿 </td>
                    <td> フォロー</td>
                    <td>フォロワー</td>
                  <tr>
                    <td><%= @user.videos.count %></td>
                    <td><%= @user.following.count %></td>
                    <td><%= @user.followers.count %></td>
                  </tr>
                </table>
                <hr>
                <b><%= @user.introduction %></b><br>
                <%if current_user.try(:id) == @user.id %>
                  <%= link_to "編集", edit_user_registration_path, class: "btn btn-success btn-sm float-right" %>
                <% end %>
              </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card mb-3">
              <div class="row bg-light" style="text-align: center">
                <div class="card-body col-3">
                  <%= link_to '投稿した動画', user_path(type: "post"), class: "btn btn-primary btn-sm btn-block" %>
                </div>
                <div class="card-body col-3">
                  <%= link_to 'お気に入り動画', user_path(type: "like"), class: "btn btn-primary btn-sm btn-block" %>
                </div>
                <div class="card-body col-3">
                  <%= link_to 'フォロー', user_path(type: "following"), class: "btn btn-primary btn-sm btn-block" %>
                </div>
                <div class="card-body col-3">
                  <%= link_to 'フォロワー', user_path(type: "followers"), class: "btn btn-primary btn-sm btn-block" %>
                </div>
              </div>
            </div>
            <% if  @type == 'post' || @type == 'like' %>
              <% if @post_videos.present? %>
                  <%= render 'post_video' %>
              <% elsif @like_videos.present? %>
                <div class="card mb-3">
                  <%= render 'like_video' %>
                </div>
              <% else %>
                <h2 style="text-align: center">表示出来る動画がありません</h2>
              <% end %>
            <% elsif @type == 'following' || @type == 'followers'%>
              <%if @following.present? %>
                <div class="card mb-3">
                  <%= render 'following' %>
                </div>
              <% elsif @followers.present? %>
                <div class="card mb-3">
                  <%= render 'follower' %>
                </div>
              <% else %>
                <h2 style="text-align: center">表示出来るユーザーがいません</h2>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto" style="width: 350px; text-align: center">
  <%= link_to '戻る', videos_path, class: "btn btn-outline-dark btn-sm w-50 mt-5" %>
</div>