<div class="bg-light mt-5">
  <div class="py-3">
    <div class="container">
      <div class="row">
        <%=render 'user_info' %>
        <div class="col-9">
            <div class="card mb-3" style="border: none">
              <div class="row bg-light user_info_btn" style="text-align: center">
                <div class="card-body col-3">
                  <%= active_link_to '投稿した動画', user_path(type: "post"), class: "btn btn-outline-primary btn-sm btn-block", active: :exact, active_disable: true %>
                </div>
                <div class="card-body col-3">
                  <%= active_link_to 'お気に入り動画', user_path(type: "like"), class: "btn btn-outline-primary btn-sm btn-block", active: :exact, active_disable: true %>
                </div>
                <div class="card-body col-3">
                  <%= active_link_to 'フォロー', user_path(type: "following"), class: "btn btn-outline-primary btn-sm btn-block", active: :exact, active_disable: true %>
                </div>
                <div class="card-body col-3">
                  <%= active_link_to 'フォロワー', user_path(type: "followers"), class: "btn btn-outline-primary btn-sm btn-block", active: :exact, active_disable: true %>
                </div>
              </div>
            </div>
            <% if  @type == 'post' || @type == 'like' %>
              <% if @post_videos.present? %>
                  <%= render 'post_video' %>
              <% elsif @like_videos.present? %>
                  <%= render 'like_video' %>
              <% else %>
                <h2 style="text-align: center">表示出来る動画がありません</h2>
              <% end %>
            <% elsif @type == 'following' || @type == 'followers'%>
              <%if @following.present? %>
                  <%= render 'following' %>
              <% elsif @followers.present? %>
                  <%= render 'follower' %>
              <% else %>
                <h2 style="text-align: center">表示出来るユーザーがいません</h2>
              <% end %>
            <% else %>
              <h2 style="text-align: center">上のボタンを押してユーザー情報を表示する<h2>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto" style="width: 350px; text-align: center">
  <%= link_to '戻る', videos_path, class: "btn btn-outline-dark btn-sm w-50 mt-5" %>
</div>