  <h2>パスワード再設定</h2>
  <p>パスワードを再設定します。<br>
     新しいパスワードを入力してください。
  </p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="email">
        <%= f.label :password, "新しいパスワード" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em><br />
        <% end %>
        <p class="in_field"><%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control w-25 my-2" %></p>
      </div>

      <div class="password_confirmation">
        <%= f.label :password_confirmation, "新しいパスワード再入力" %><br />
        <p class="in_field"><%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control w-25 my-2" %></p>
      </div>

      <div class="actions">
        <p class="in_field"><%= f.submit "パスワード再設定",class: "btn btn-outline-success btn-sm my-2" %></p>
      </div>
    <% end %>