<%= devise_error_messages! %>

<div class="h3 mb-3 font-weight-normal" style="text-align: center">
  <h1 > 登録したメールアドレスをご入力ください</h1>
  <p>以下の欄に登録したメールアドレスをご入力ください。<br>
    パスワード再設定について、メールでご連絡いたします。
  </p>
</div>
<div id="logreg-forms">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.email_field :email, autofocus: true, type:"text", class: "form-control", placeholder: "Email address", required: "" %><br>
    <%= f.submit "パスワード再設定メールを送る", class: "btn btn-success btn-block fa-sign-in-alt" %><br>
    <%= link_to :back, class: "btn btn-dark btn-block social-btn" do %>
     <i class="fas fa-undo"> 戻る</i>
    <% end %>
  <% end %>
</div>