<%= devise_error_messages! %>
  <div class="page-header">
    <h2>パスワードを<br>忘れてしまった方へ</h2>
  </div>
  <p>以下の欄に登録したメールアドレスをご入力ください。<br>
     パスワード再設定について、メールでご連絡いたします。
  </p>
  <div class="pass_new">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="email">
        <%= f.label :email %><br />
        <p class="in_field"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-50 my-2" %></p>
      </div>

      <div class="actions">
        <p class="in_field"><%= f.submit "パスワード再設定メールを送る",class: "btn btn-outline-success btn-sm my-2" %></p>
      </div>
    <% end %>
  </div>
