テスト

<div class="form">
  <%= form_with(model: @video,local: true ) do |form| %>
    <% if @video.errors.any? %>
      <div id="error_explanation" class="text-center">
        <h2><%= @video.errors.count %>件のエラーがあります。</h2>
        <ul>
        　<% @video.errors.full_messages.each do |msg| %>
        　　<li><%= msg %></li>
        　<% end %>
        </ul>
      </div>
    <% end %>

  <div class="px-2 py-3">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="card h-100">
            <div class="card-body">
              <%= form.label :動画のURL %>&emsp;<span class="badge badge-danger">必須</span>
              <%= form.text_field :url, class: "form-control my-2" %>
              <%= form.label :タイトル %>&emsp;<span class="badge badge-danger">必須</span>
              <%= form.text_field :title, class: "form-control my-2" %>
              <%= form.label :動画の説明 %>&emsp;<span class="badge badge-danger">必須</span>
              <%= form.text_area :content, class: "form-control my-2", rows: 7 %>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="card h-100">
            <div class="card-body position-relative">
              <%= form.label :サービス %>&emsp;<span class="badge badge-danger">必須</span><br>
              <%= form.collection_radio_buttons :service_id, Service.all, :id, :name, include_hidden: false %><br>
              <%= form.label :ジャンル %><br>
              <%= form.collection_check_boxes :genre_ids, Genre.all, :id, :name, include_hidden: false %><br>
              <%= form.label :タグ %>
              <%= form.text_field :tag_list, value: @video.tag_list.join(','), id: "video-tags" %><br>
              <%= form.submit nil, class: "video-submit-btn btn btn-primary mb-3 position-absolute fixed-bottom w-50" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <% end %>
</div>