<%
=begin %>
スマホで挙動がうまくいかなかったのでとりあえずコメントアウトしておく
 <%= search_form_for @q do |f| %>
 <div class="container h-100 search_box">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="search_container">
        <div class="search">
            <%= f.search_field :title_or_content_or_user_name_cont, required: true ,placeholder: '検索するテキストを入力...' %>
            <%= f.submit "検索",class: "go_btn" %>
            <div class="search_btn search_open"></div>
        </div>
      </div>
    </div>
  </div>
<% end %><br>
<%
=end
%>
<br>
<%= search_form_for @q do |f| %>
 <div class="container h-100 search_box2">
    <div class="row h-100 justify-content-center align-items-center">
      <%= f.search_field :title_or_content_or_user_name_cont, required: true ,placeholder: '検索するテキストを入力...', class: "search_active2"%>
      <%= f.submit "検索",class: "btn btn-primary search_btn2" %>
    </div>
  </div>
<% end %><br>