<div class="card mb-3">
  <div class="row">
    <div class="card-body col-6">
      <iframe width="320" height="200" src=<%= embed_url(video) %> allowfullscreen></iframe>
      <p><%= video.title %></p>
      <p>投稿者: <i class = "circle"><%= video.user.icon.url.present? ? image_tag(video.user.icon.url) : image_tag('default_icon.jpg') %></i> <%= video.user.name %></p>
      <p id="index_like_btn"><%= render 'videos/index_like', collection: @videos, as: :video %> <i class="fas fa-comment comment"></i> <%= video.comments.count %></p>
    </div>
    <div class="card-body col-6 box">
      <p>ジャンル:
        <% video.genres.each do |genre| %>
          <%= link_to genre.name, videos_path(genre_id: genre.id), class: "badge badge-primary p-1" %>
        <% end %>
      </p>
      <p>タグ:
        <%= render 'videos/tag_list', tag_list: video.tag_list %>
      </p>
      <%= link_to '詳細', video_path(video.id) ,class: "btn btn-primary btn-sm w-25" %>
      <% if current_user.try(:id) == video.user_id %>
        <%= link_to "編集", edit_video_path(video.id), method: :get, class: "btn btn-success btn-sm w-25" %>
        <%= link_to '削除', video_path(video.id), method: :delete,data: { confirm: '本当に削除していいですか？'}, class: "btn btn-danger btn-sm w-25" %>
      <% end %>
    </div>
  </div>
</div>