<%
=begin %>
スマホで挙動がうまくいかなかったのでとりあえずコメントアウトしておく
 <%= search_form_for @q do |f| %>
 <div class="container h-100 search_box">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="search_container">
        <div class="search">
            <%= f.search_field :title_or_content_or_user_name_cont, required: true ,placeholder: '検索するテキストを入力...' %>
            <%= f.submit "検索",class: "go_btn" %>
            <div class="search_btn search_open"></div>
        </div>
      </div>
    </div>
  </div>
<% end %><br>
<%
=end
%>
<br>
<%= search_form_for @q do |f| %>
 <div class="container h-100 search_box2">
    <div class="row h-100 justify-content-center align-items-center">
      <%= f.search_field :title_or_content_or_user_name_cont, required: true ,placeholder: '検索するテキストを入力...', class: "search_active2"%>
      <%= f.submit "検索",class: "btn btn-primary search_btn2" %>
    </div>
  </div>
<% end %><br>

<div style="text-align: center" class="sort_btn">
  <%= active_link_to "新着順", videos_path(sort_created_at: true), class: "btn btn-outline-primary btn-sm w-25", active: :exact, active_disable: true %>
  <%= active_link_to "人気順", videos_path(sort_like: true), class: "btn btn-outline-primary btn-sm w-25", active: :exact, active_disable: true %>
</div>
<div class="px-2 py-3">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-3" style="text-align: center">
      <%= link_to new_video_path, class: "btn btn-primary" do %>
      <i class="fa fa-plus"> 新しく動画を投稿する</i>
      <% end %>
    </div>
  </div>
</div>

<div class="px-2 py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3">
        <% if current_user %>
          <div class="card mb-3" style="text-align: center">
            <div class="card-header">
            <i class = "circle"><%= current_user.icon.url.present? ? image_tag(current_user.icon.url) : image_tag('default_icon.jpg') %></i> <%= current_user.name %>
            </div>
            <table class="mx-auto" style="width: 200px; text-align: center">
              <tr>
                <td>フォロー数</td>
                <td>フォロワー数</td>
                </td>
              <tr>
                <td><%= current_user.following.count %></td>
                <td><%= current_user.followers.count %></td>
              </tr>
            </table>
          </div>
        <% end %>
        <div class="card mb-3">
          <div class="card-body">
            <h5>ジャンルから探す</h5>
            <% @genres.each do |genre| %>
              <%= link_to genre.name, videos_path(genre_id: genre.id), class: "badge badge-light py-1 px-2 category-badge" %>
            <% end %>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body tag_box">
            <h5>タグから探す</h5>
            <% @tags.each do |tag| %>
            <%= link_to "##{tag.name}(#{tag.taggings_count})", videos_path(tag_name: tag.name), class: "badge badge-light py-1 px-2 category-badge" %>
          <% end %> <br>
          </div>
          <%= link_to tags_path, class: "text-dark" do %>
          <i class="fas fa-tags float-right mb-3 mr-3"> タグ一覧を見る</i>
        <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-9">
        <div class="row index_video">
          <% @videos.each do |video| %>
            <div class="card mb-3 mr-3 pt-3 col-12 col-sm-12 col-md-12 col-lg-6">
              <div class="video-wrap">
                <iframe width="350" height="200" src=<%= embed_url(video) %> allowfullscreen></iframe>
              </div>
              <p><%= video.title %></p><hr>
              <p>投稿者: <i class = "circle"><%= video.user.icon.url.present? ? image_tag(video.user.icon.url) : image_tag('default_icon.jpg') %></i> <%= video.user.name %></p>
              <div class="nav_btn">
                <ul style="padding-inline-start: 0px">
                  <li>
                    <i class="far fa-heart"></i> <%= video.likes_count %>
                  </li>
                  <li>
                    <i class="fas fa-comment comment"></i> <%= video.comments.count %>
                  </li>
                  <li class="float-right">
                    <%= "#{video.created_at}に投稿"%></span>
                  </li>
                </ul>
              </div>
              <p>
                <% video.genres.each do |genre| %>
                  <%= link_to genre.name, videos_path(genre_id: genre.id), class: "badge badge-light py-1 px-2 category-badge" %>
                <% end %>
              </p>
              <p>
                <%= render 'videos/tag_list', tag_list: video.tag_list %>
              </p>
              <br>
              <div class="nav_btn">
                <ul class="float-right">
                  <li>
                    <%= link_to video_path(video.id) ,class: "btn text-primary btn-sm" do %>
                      <i class="fas fa-arrow-circle-right"></i> 詳細</i>
                    <% end %>
                  </li>
                  <% if current_user.try(:id) == video.user_id %>
                    <li>
                      <%= link_to edit_video_path(video), class: "btn text-success btn-sm" do %>
                        <i class="fas fa-edit"> 編集</i>
                      <% end %>
                    <li>
                      <%= link_to video_path(video.id), method: :delete,data: { confirm: '本当に削除していいですか？'}, class: "btn text-danger btn-sm" do %>
                        <i class="fas fa-trash-alt"> 削除</i>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
        <div>
          <%= paginate @videos%>
        </div>
      </div>
    </div>
  </div>
</div>




                <iframe width="350" height="200" src=https://embed.nicovideo.jp/watch/sm34971335?ref=share_others_spweb allowfullscreen></iframe>