<h1>動画一覧</h1>

<%= link_to '新しく動画を投稿する', new_video_path, class: "btn btn-primary btn-sm" %>

<table class = "table table-hover" >
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>作成日時</th>
  </tr>

  <% @videos.each do |video| %>
    <tr>
      <td><%= video.title %></td>
      <td><%= video.content %></td>
      <td><%= video.created_at %></td>
      <td><%= link_to '詳細を確認する', video_path(video.id) ,class: "btn btn-outline-dark btn-sm" %></td>
      <td><%= link_to "動画を編集する", edit_video_path(video.id), method: :get, class: "btn btn-outline-dark btn-sm" %></td>
      <td><%= link_to '動画を削除する', video_path(video.id), method: :delete,data: { confirm: '本当に削除していいですか？'}, class: "btn btn-outline-danger btn-sm" %></td>
    </tr>
  <% end %>
</table>