<br>
<%= search_form_for @q do |f| %>
 <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
          <%= f.search_field :title_or_content_or_user_name_cont, required: true ,placeholder: '検索するテキストを入力...', class: "search_input"%>
          <%= button_tag :type => "submit", :id =>"button", :class =>"btn mt-1 mr-1" do %>
           <i class="fa fa-search"></i>
          <% end %>
      </div>
    </div>
  </div>
<% end %><br>

<div style="text-align: center">
  <%= link_to "新着順", videos_path(sort_created_at: true), class: "btn btn-outline-primary btn-sm w-25"%>
  <%= link_to "人気順", videos_path(sort_like: true), class: "btn btn-outline-primary btn-sm w-25"%>
</div>
  <%= link_to '新しく動画を投稿する', new_video_path, class: "btn btn-primary" %>

<div class="bg-light">
  <div class="px-2 py-3">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <% if current_user %>
            <div class="card mb-3" style="text-align: center">
              <div class="card-header">
              <i class = "circle"><%= image_tag current_user.icon.url unless current_user.icon.url.nil? %></i> <%= current_user.name %>
              </div>
              <table>
                <tr>
                  <td>フォロー数</td>
                  <td>フォロワー数</td>
                  </td>
                <tr>
                  <td><%= current_user.following.count %></td>
                  <td><%= current_user.followers.count %></td>
                </tr>
              </table>
            </div>
          <% end %>
          <div class="card mb-3">
            <div class="card-body">
              <h5>ジャンルから探す</h5>
              <% @genres.each do |genre| %>
                <%= link_to genre.name, videos_path(genre_id: genre.id), class: "btn btn-primary btn-sm my-1" %>
              <% end %>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5>タグから探す</h5>
              <% @tags.each do |tag| %>
              <%= link_to "#{tag.name}(#{tag.taggings_count})", videos_path(tag_name: tag.name), class: "btn btn-dark btn-sm my-1" %>
            <% end %> <br>
            </div>
          </div>
        </div>

        <div class="col-9">
          <% @videos.each do |video| %>
            <div class="card mb-3">
              <div class="row">
                <div class="card-body col-6">
                  <iframe width="320" height="200" src=<%= embed_url(video) %> allowfullscreen></iframe>
                  <p><%= video.title %></p>
                  <p>投稿者: <i class = "circle"><%= image_tag video.user.icon.url unless video.user.icon.url.nil? %></i> <%= video.user.name %></p>
                  <p>いいね数<%= video.likes_count %></p>
                  <p>コメント数<%= video.comments.count %></p>
                </div>
                <div class="card-body col-6 box">
                  <p>ジャンル:
                    <% video.genres.each do |genre| %>
                      <%= link_to genre.name, videos_path(genre_id: genre.id), class: "badge badge-primary p-1" %>
                    <% end %>
                  </p>
                  <p>タグ:
                    <%= render 'videos/tag_list', tag_list: video.tag_list %>
                  </p>
                  <%= link_to '詳細', video_path(video.id) ,class: "btn btn-primary btn-sm w-25" %>
                  <% if current_user.try(:id) == video.user_id %>
                    <%= link_to "編集", edit_video_path(video.id), method: :get, class: "btn btn-success btn-sm w-25" %>
                    <%= link_to '削除', video_path(video.id), method: :delete,data: { confirm: '本当に削除していいですか？'}, class: "btn btn-danger btn-sm w-25" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <%= paginate @videos%>
        </div>
      </div>
    </div>
  </div>
</div>