<div class="container">

  <p id="notice"><%= notice %></p>
  <div class="mx-auto" style="width: 500px; text-align: center">
  <%= link_to '戻る', videos_path, class: "btn btn-outline-dark btn-sm w-25" %>
  <%if current_user.try(:id) == @video.user_id %>
    <%= link_to '編集', edit_video_path(@video), class: "btn btn-success btn-sm w-25" %>
  <% end %>
  </div>
  <div class="bg-light">
    <div class="px-2 py-3">
      <div class="card">
        <div style="text-align: center">
          <iframe width="1000" height="500" src=<%= @url %> allowfullscreen></iframe>
        </div>
      </div>
      <div class="px-3 mt-2">
        <div class="row">
          <div class="card col-6">
            <div>
              <h4 style="text-align: center"><%= @video.title %></h4><hr>
              <p>投稿者: <i class = "circle"><%= @video.user.icon.url.present? ? image_tag(@video.user.icon.url) : image_tag('default_icon.jpg') %></i> <%= @video.user.name %></p>
              ジャンル <% @video.genres.each do |genre| %>
                <%= link_to genre.name, videos_path(genre_id: genre.id), class: "badge badge-primary p-1" %>
              <% end %>
              <p>タグ <%= render 'videos/tag_list', tag_list: @video.tag_list %></p>
              <span id="like_btn"><%= render 'videos/like' %></span>
              <span><i class="fas fa-comment comment"></i><%= @video.comments.count %></span>
              <span class="float-right"><%= "#{@video.created_at}に投稿" %></span>
            </div>
          </div>
          <div class="card col-6">
            <div>
              <h4 style="text-align: center">動画の内容</h4><hr>
              <b><%= @video.content %></b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="comments_area"><%= render partial: 'comments/index', locals: { comments: @comments, video: @video } %></div>
    <%= render partial: 'comments/form', locals: { comment: @comment, video: @video } %>
  </div>
</div>
