<div class="container">
  <h1>動画詳細画面</h1>

  <p id="notice"><%= notice %></p>

  <table class = "table table-hover" >
    <tr>
      <th>タイトル</th>
      <td><%= @video.title %></td>
    </tr>
      <th>内容</th>
      <td><%= @video.content %></td>
    </tr>
    <tr>
      <th>動画</th>
      <td><iframe width="560" height="315" src=<%= @url %> ></iframe></td>
    </tr>
    <tr>
      <th>評価</th>
      <td><% unless @video.user_id == current_user.try(:id) %>
    <% if @like.present? %>
      <%= link_to 'いいね解除'"(#{@video.likes_count})",like_path(id: @like.id), method: :delete, class: 'btn btn-danger btn-sm' %>
    <% else %>
      <%= link_to 'いいね'"(#{@video.likes_count})",likes_path(video_id: @video.id), method: :post, class: 'btn btn-primary btn-sm' %>
    <% end %>
  <% end %></td>
    </tr>
      <th>ジャンル<th>
      <% @video.genres.each do |genre| %>
        <td class="badge badge-primary p-1"><%= genre.name %></td>
      <% end %>
    </tr>
    <tr>
      <th>コメント一覧</th>
      <td><div id="comments_area"><%= render partial: 'comments/index', locals: { comments: @comments, video: @video } %></div></td>
    </tr>
  </table>
  <%= render partial: 'comments/form', locals: { comment: @comment, video: @video } %>
  <%if current_user.try(:id) == @video.user_id %>
    <%= link_to '編集', edit_video_path(@video), class: "btn btn-outline-info btn-sm" %>
  <% end %>
  <%= link_to '戻る', videos_path, class: "btn btn-outline-info btn-sm" %>
</div>
