<div class="container">

  <p id="notice"><%= notice %></p>
  <div class="mx-auto" style="width: 500px; text-align: center">
  <%= link_to '戻る', videos_path, class: "btn btn-outline-dark btn-sm w-25" %>
  <%if current_user.try(:id) == @video.user_id %>
    <%= link_to '編集', edit_video_path(@video), class: "btn btn-success btn-sm w-25" %>
  <% end %>
  </div>
  <div class="bg-light">
    <div class="px-2 py-3">
      <div class="card mr-2" >
      <h3 class="card-title" style="text-align: center"><%= @video.title %></h3><hr>
        <iframe width="1055" height="700" src=<%= @url %> allowfullscreen></iframe><hr>
        <div class="card-body">
        ジャンル <% @video.genres.each do |genre| %>
            <%= link_to genre.name, videos_path(genre_id: genre.id), class: "badge badge-primary p-1" %>
          <% end %><p>
            タグ <%= render 'videos/tag_list', tag_list: @video.tag_list %>
          </p>
          <% unless @video.user_id == current_user.try(:id) %>
            <% if @like.present? %>
              <%= link_to 'いいね解除'"(#{@video.likes_count})",like_path(id: @like.id), method: :delete, class: 'btn btn-danger btn-sm' %>
            <% else %>
              <%= link_to 'いいね'"(#{@video.likes_count})",likes_path(video_id: @video.id), method: :post, class: 'btn btn-primary btn-sm' %>
            <% end %>
        　<% end %>
        コメント数<%= @video.comments.count %>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class="px-2 py-3">
      <div class="card" >
        <div class="card-body" style="text-align: center">
        <h3>内容</h3><hr>
          <%= @video.content %>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div>
    <div id="comments_area"><%= render partial: 'comments/index', locals: { comments: @comments, video: @video } %></div>
    <%= render partial: 'comments/form', locals: { comment: @comment, video: @video } %>
  </div>
</div>
