<body>
  <div class="top_main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 concept">
          <div class="concept_text">
          <br><br><br><br><br>
          <h1>色んなサービスの動画を共有しよう</h1><br>
          <br><br><br><br>
          <h4>LittubeではYoutubeをはじめとした大手動画サービスの動画を投稿、閲覧が可能。</h4><br>
          <h4>あなたのお気に入りのサービスのお気に入りの動画をみんなで共有しよう</h4>
          <br><br><br><br>
          </div>
          <% unless current_user %>
            <div class="row text-center toppage_btn_wrapper">
              <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark toppage_btn my-3 py-2" %>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-dark toppage_btn my-3 py-2" %>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                <%= link_to "動画だけ見る", videos_path, class: "btn btn-outline-dark toppage_btn my-3 py-2" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container feature p-4">
      <div class="row mb-5">
        <div class="feature-header">
          <div class="col-lg-12 text-center">
            <h2 class="feature-heading mb-4">Lit Tubeとは</h2>
            <h4 class="feature-subheading mt-4"><i>大手動画共有サイトの垣根を取り払い、ユーザーが世の中に存在する無数の素晴らしい動画を共有し、検索できるサービスです。</i><br></h4>
          </div>
        </div>
      </div>

      <div class="row text-center p-3 mt-3" >
        <div class="col-lg-4" style="text-align: center">
          <span class="fa-stack fa-4x">
            <i class="fas fa-share fa-stack-1x"></i>
          </span>
          <div class="feature-box">
            <h3 class="feature-subtitle"><i class="fas fa-star star"></i> 共有する<i class="fas fa-star star"></i></h3><br>
            <p class="feature-text text-left">
              ● 自分が推したい動画を動画専用タイムラインに共有<br><br>
              ● 複数の種類の大手動画共有サービスにある動画を共有<br><br>
              ● グループ機能で特定のユーザーだけで動画を共有（準備中）
            </p>
          </div>
        </div>
        <div class="col-lg-4" style="text-align: center">
          <span class="fa-stack fa-4x">
            <i class="fas fa-search fa-stack-1x"></i>
          </span>
          <div class="feature-box">
            <h3 class="feature-subtitle"><i class="fas fa-star star"></i> 探す<i class="fas fa-star star"></i></h3><br>
            <p class="feature-text text-left">
              ● 検索、ソート機能が充実（新着、人気順ソート、文字、サービス、ジャンル、タグ検索）<br><br>
              ● 自分が共有、いいねした動画がマイページでいつでも視聴可能<br><br>
              ● ランキング機能でどの動画が人気かすぐにわかる（準備中）
            </p>
          </div>
        </div>
        <div class="col-lg-4" style="text-align: center">
          <span class="fa-stack fa-4x">
            <i class="fas fa-users fa-stack-1x"></i>
          </span>
          <div class="feature-box">
            <h3 class="feature-subtitle"><i class="fas fa-star star"></i> 繋がる<i class="fas fa-star star"></i></h3><br>
            <p class="feature-text text-left">
              ● フォローフォロワー機能でユーザーの情報に簡単アクセス<br><br>
              ● 動画へのコメント機能で評価を文字化<br><br>
              ● DM機能でユーザー間で直接やりとり（準備中）
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid service text-center">
      <div class="servive_headding">
        <h1>共有できる動画サービス</h1><br>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag('youtube.png', size: '300x300', class: "img-responsive")%>
          <h4 class=mt-3>Yutube</h4>
        </div>
        <div class="col-lg-4">
          <%= image_tag('niconico.png', size: '300x300', class: "img-responsive")%>
          <h4 class=mt-3>ニコニコ動画</h4>
        </div>
        <div class="col-lg-4">
          <%= image_tag('dailymotion.jpeg', size: '300x300', class: "img-responsive")%>
          <h4 class=mt-3>Dailymotion</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag('vimeo.png', size: '300x300', class: "img-responsive")%>
          <h4 class=mt-3>Vimeo</h4>
        </div>
        <div class="col-lg-4">
          <%= image_tag('youku.jpeg', size: '300x300', class: "img-responsive")%>
          <h4 class=mt-3>Youku</h4>
        </div>
        <div class="col-lg-4">
          <%= image_tag('rutube.jpeg', size: '300x300', class: "img-responsive")%>
          <h4 class=mt-3>Rutube</h4>
        </div>
      </div>
    </div>

    <div id="copyrights">
      <div class="container-fluid">
        <p>
          © Copyrights <strong>Lit Tube</strong>. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</body>