<%= render "devise/shared/error_messages", resource: resource %>

<div id="logreg-forms">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Log in</h1>
    <div class="social-login">
      <%= link_to user_google_omniauth_authorize_path,class: "btn google-btn social-btn" do %>
        <span><%= fa_icon "google" %>  Googleでログイン +</span>
      <% end %>
    </div>
    <p style="text-align:center"> OR  </p>
    <%= f.email_field :email, autofocus: true, type:"text", class: "form-control", placeholder: "Email address", required: "" %>
    <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "Password", required: "" %>
    <br>
    <%= f.submit "ログイン", class: "btn btn-success btn-block fa-sign-in-alt" %>
<%= link_to "パスワードを忘れた方", new_password_path(resource_name), class: "btn btn-block" %>
  <hr>
<%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-block social-btn" %>
  <% end %>
</div>