<header style="background-color: #EDF4FB">
  <nav class="navbar navbar-expand-sm">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <%= fa_icon ("bars") %><br>
      <span style="font-size: 10px">MENU</span>
    </button>
    <div class="collapse navbar-collapse" id="Navber">
      <ul class="navbar-nav text-dark">
        <% if current_user.try(:admin?) %>
          <li class="nav-item">
            <%= active_link_to "管理者メニュー", "/admin", class: "nav-link text-danger" %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item" >
            <%= active_link_to user_path(current_user.id, type: "post"), class: "nav-link text-dark" do %>
              <i class="fas fa-user"> マイページ</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= active_link_to videos_path, class: "nav-link text-dark", active: :exclusive do %>
              <i class="fas fa-video"> 動画一覧</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= active_link_to tags_path, class: "nav-link text-dark" do %>
              <i class="fas fa-tags"> タグ一覧</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= active_link_to users_path, class: "nav-link text-dark", active: :exclusive do %>
            <i class="fas fa-user-friends"> ユーザー一覧</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= active_link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark" do %>
              <i class="fas fa-sign-out-alt"> ログアウト</i>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= active_link_to new_user_session_path, class: "nav-link text-dark" do %>
              <i class="fas fa-sign-in-alt"> ログイン</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= active_link_to new_user_registration_path, class: "nav-link text-dark" do %>
              <i class="fas fa-user-plus"> 新規登録</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= active_link_to videos_path, class: "nav-link text-dark" do %>
              <i class="fas fa-video"> 動画一覧</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= active_link_to tags_path, class: "nav-link text-dark" do %>
              <i class="fas fa-tags"> タグ一覧</i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>