<!DOCTYPE html>
<html>
  <head>
    <title>Littube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="">
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav text-dark">
      <% if current_user.try(:admin?) %>
        <li class="nav-item">
          <%= link_to "管理者メニュー", "/admin", class: "nav-link text-danger" %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-item" >
          <%= link_to "#{current_user.name}のページ", user_path(current_user.id), class: "nav-link text-dark" %>
        </li>

        <li class="nav-item">
          <%= link_to "動画一覧", videos_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-dark"  %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link text-dark"  %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-dark"  %>
        </li>
        <li class="nav-item">
          <%= link_to "動画一覧", videos_path, class: "nav-link text-dark"  %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
    <div class = "container">
        <% flash.each do |key, value| %>
          <% if key == "danger" %>
            <%= content_tag(:div, value, class: "#{key} alert alert-danger") %>
          <% else %>
            <%= content_tag(:div, value, class: "#{key} alert alert-success") %>
          <% end %>
        <% end %>
        <%= yield %>
    </div>
  </body>
</html>
