<!DOCTYPE html>
<html>
  <head>
    <title>Littube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "container">
        <% flash.each do |key, value| %>
          <% if key == "danger" %>
            <%= content_tag(:div, value, class: "#{key} alert alert-danger") %>
          <% else %>
            <%= content_tag(:div, value, class: "#{key} alert alert-success") %>
          <% end %>
        <% end %>
        <%= yield %>
    </div>
  </body>
</html>
